#contato
    clearfix()
    .info
        width 330px
        float left
        .telefone
            oxygen 20
            margin 0 0 40px
        .endereco
            p
                line-height 1.3
                margin 3px 0
        .googlemaps
            margin-top 30px
            border 1px solid #D2D3D5
            width 330px
            height 300px
    form
        width 380px
        float right
        clearfix()
        input[type=text]
        input[type=email]
        textarea
            width 100%
            background #EBEBEB
            border 1px solid #D2D3D5
            outline none
            margin-bottom 6px
            padding 10px
            oxygen 14
        textarea
            height 130px
            resize vertical
        input[type=submit]
            width 100%
            border 0
            background #A9ABAE
            text-transform uppercase
            text-align center
            padding 10px 0
            color white
            oxygen 20 bold
            outline none
            transition background .3s ease
            &:hover
                background #727376
        #form-resposta
            display none
            width 100%
            text-align center
            margin-top 30px
            oxygen 13 bold