#footer-empresas
    width 100%
    background #737373
    padding 23px
    text-align center
    a
        text-decoration none
        display inline-block
        margin 0 25px
        opacity .6
        transition opacity .3s ease
        &:hover
            opacity 1
