.wrapper
    width 100%
    overflow-x hidden

header
    width 100%
    min-width 980px
    height 110px
    position relative
    .center
        height 100px
    h1
        margin 0
        padding 0
        width 340px
        height 180px
        background $img('5a.png') no-repeat center white
        position absolute
        top 0
        left 0
        text-indent -9999px
        z-index 10
        &:after
            content ""
            display block
            position absolute
            right 0
            bottom 0
            width 3500px
            height 2px
            background #727376
        a
            display block
            position absolute
            width 100%
            height 100%
    .nav-extension
        width 100%
        position absolute
        top 70px
        height 40px
        left 0
        overflow-x hidden
        &:after
            content ""
            display block
            position absolute
            left 50%
            height 100%
            width 100%
            background #727376
    nav
        z-index 20
        &#social
            position absolute
            top 20px
            right 0
            text-align right
            a
                display inline-block
                text-align left
                width 20px
                height 20px
                text-indent -9999px
                &.twitter
                    background $img('twitter.png') no-repeat center
                &.facebook
                    background $img('facebook.png') no-repeat center
        &#menu
            position absolute
            top 70px
            left 340px
            height 40px
            width 640px
            background #727376
            a
                display block
                text-decoration none
                color white
                oxygen 12 bold
                height 40px
                line-height 40px
                float left
                padding 0 29px
                transition background .3s ease
                &:hover
                &.active
                    background black

footer
    width 100%
    min-width 980px
    background #4D4D4D
    clearfix()
    height 280px
    .col
        height 280px
        margin-right 80px
        padding-left 26px
        padding-top 20px
        padding-bottom 20px
        float left
        border-left 1px solid #999999
        a
            text-decoration none
            color #999999
            transition color .3s ease
            &:hover
                color white
        > a
            display block
            text-transform uppercase
            roboto 14
            margin-top 22px
        ul
            padding 0
            margin 5px 0 0
            list-style-type none
            li
                color #999999
                margin-top 3px
                &:before
                    content '\2022'
                    font-size 7px
                    position relative
                    top -2px
                    padding-right 8px
    .copyright
        float right
        padding-top 35px
        p
            oxygen 10
            color #999999
            margin 20px 0
            line-height 1.5
            a
                oxygen 9
                text-decoration none
                color #999999
                transition color .3s ease
                &:hover
                    color white
                &.trupe
                    padding-right 10px
                    &:after
                        content ""
                        position relative
                        top 2px
                        float right
                        width 13px
                        height 11px
                        background $img('trupe.png') no-repeat center

main
    background white
    padding-bottom 60px
    .cabecalho
        background #C2CBCE
        height 168px
        position relative
        h2
            margin 0
            position absolute
            display inline-block
            bottom 16px
            left 115px
            oxygen 38 light
            color white
            text-transform uppercase
            cursor default
        img
            display block
            position absolute
            right 0
            top 0
        &:after
            content ""
            display block
            position absolute
            bottom -20px
            width 566px
            height 20px
            background #A9ABAE
    .content
        width 750px
        margin 60px auto 0
    &.not-found
        background white
        padding 150px 0
        h1
            margin 0
            oxygen 20 bold
            text-align center
            color #4D4D4D
