*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%

::selection
    background black
    color #fff

::-moz-selection
    background black
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto

body
    background #EBEBEB
    oxygen 14
    &:after
        content "" // preload images
        display none