// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors


// Fonts
@import url('http://fonts.googleapis.com/css?family=Oxygen:300,400,700')
oxygen($size = 14, $style = normal)
    font-size $size + 0px
    font-family 'Oxygen', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == bold
        font-weight 700
    if $style == light
        font-weight 300

@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:700')
roboto($size = 14)
    font-size $size + 0px
    font-family 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 700